version: 1.0.{build}

image: Ubuntu2004

environment:
  JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64

install:
  - sudo apt-get update
  - sudo apt-get install -y openjdk-11-jdk
  - chmod +x gradlew

build_script:
  - ./gradlew test --info

test_script:
  - java -jar ./artifacts/app-deadline.jar &
  - sleep 60  # Wait for the application to start

cache:
  - $HOME/.gradle